<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>The Evolution Of Music Carriers</title>
    <link rel="stylesheet" href="css/reset.css">
    <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body data-ng-app>
    <header>
        <h1>Evolution of Music Carriers</h1>
        <h2 ng-controller="LocationController" id="location"></h2>
        <nav>
            <ul ng-controller="CarrierController">
                <li><a href="#">Home</a></li>
                <li ng-repeat="c in carriers" id="menu{{c.name}}"><a href="#">{{c.name}}</a></li>
            </ul>
        </nav>
    </header>
    <div id="content" ng-controller="CarrierController">
        <section class="visible" id="Home">
            <article>
                Welcome to this website, here you will learn everthing about the <strong>carriers of music</strong>!
            </article>
        </section>
        <section ng-repeat="c in carriers" id="{{c.name}}">
            <img class="imgCarrier" ng-src="Images{{c.img}}" alt="Foto {{c.name}}">
            <article>
                {{c.description}}
            </article>
            <audio controls>
                <source src="{{c.music}}" type="audio/mpeg">
                Your browser does not support the audio tag.
            </audio>
        </section>
    </div>
    <footer>

    </footer>

    <script src="Scripts/angular.min.js"></script>
    <script src="Scripts/jquery-1.9.0.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCP7hSxP3yOrOKr7RfD0rPsDJ5Rh9p_MX0"></script>
    <script src="app/Carrier.js"></script>
    <script src="app/CarrierController.js"></script>
    <script src="app/LocationController.js"></script>
    <script src="Scripts/main.js"></script>
</body>
</html>