<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>The Evolution Of Music Carriers</title>
    <link rel="stylesheet" href="css/reset.css">
    <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/style.css">

</head>
<body data-ng-app>
    <header>
        <h1>Evolution of Music Carriers</h1>
        <nav>
            <ul ng-controller="CarrierController">
                <li ng-repeat="c in carriers"><a href="#{{c.name}}">{{c.name}}</a></li>
            </ul>
        </nav>
    </header>
    <div id="content" ng-controller="CarrierController">
        <section ng-repeat="c in carriers" id="{{c.name}}">
            <img ng-class-odd="'imgCarrierOdd'" ng-class-even="'imgCarrierEven'" class="imgCarrier" ng-src="Images{{c.img}}" alt="Foto {{c.name}}">
            <article>
                {{c.description}}
            </article>
            <audio controls>
                <source src="{{c.music}}" type="audio/mpeg">
                Your browser does not support the audio tag.
            </audio>
        </section>
    </div>
    <footer>

    </footer>

    <script src="Scripts/angular.min.js"></script>
    <script src="bower_components/angular-audio/app/angular.audio.js"></script>
    <script src="Scripts/main.js"></script>
    <script src="app/Carrier.js"></script>
    <script src="app/CarrierController.js"></script>
</body>
</html>